<center><h1 style="color:green">Naive Bayes</center>

In [24]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB
from sklearn.model_selection import cross_val_score

In [2]:
df = pd.read_csv('titanic.csv')
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [3]:
df.drop(['PassengerId','Name','SibSp','Parch','Ticket','Cabin','Embarked'],axis='columns',inplace=True)
df.head()

   Survived  Pclass     Sex   Age     Fare
0         0       3    male  22.0   7.2500
1         1       1  female  38.0  71.2833
2         1       3  female  26.0   7.9250
3         1       1  female  35.0  53.1000
4         0       3    male  35.0   8.0500

In [4]:
target = df.Survived
inputs = df.drop('Survived',axis='columns')

In [5]:
inputs

     Pclass     Sex   Age     Fare
0         3    male  22.0   7.2500
1         1  female  38.0  71.2833
2         3  female  26.0   7.9250
3         1  female  35.0  53.1000
4         3    male  35.0   8.0500
..      ...     ...   ...      ...
886       2    male  27.0  13.0000
887       1  female  19.0  30.0000
888       3  female   NaN  23.4500
889       1    male  26.0  30.0000
890       3    male  32.0   7.7500

[891 rows x 4 columns]

In [6]:
target

0      0
1      1
2      1
3      1
4      0
      ..
886    0
887    1
888    0
889    1
890    0
Name: Survived, Length: 891, dtype: int64

In [8]:
dummies = pd.get_dummies(inputs.Sex).astype(int)
dummies.head(3)

   female  male
0       0     1
1       1     0
2       1     0

In [9]:
inputs = pd.concat([inputs,dummies],axis='columns')
inputs.head(3)

   Pclass     Sex   Age     Fare  female  male
0       3    male  22.0   7.2500       0     1
1       1  female  38.0  71.2833       1     0
2       3  female  26.0   7.9250       1     0

<b>I am dropping male column as well because of dummy variable trap theory. One column is enough to repressent male vs female

In [10]:
inputs.drop(['Sex','male'],axis='columns',inplace=True)
inputs.head(3)

   Pclass   Age     Fare  female
0       3  22.0   7.2500       0
1       1  38.0  71.2833       1
2       3  26.0   7.9250       1

In [11]:
inputs.columns[inputs.isna().any()]

Index(['Age'], dtype='object')

In [12]:
inputs.Age = inputs.Age.fillna(inputs.Age.mean())
inputs.head()

   Pclass   Age     Fare  female
0       3  22.0   7.2500       0
1       1  38.0  71.2833       1
2       3  26.0   7.9250       1
3       1  35.0  53.1000       1
4       3  35.0   8.0500       0

In [15]:
X_train, X_test, y_train, y_test = train_test_split(inputs,target,test_size=0.3)

In [16]:
model = GaussianNB()

In [17]:
model.fit(X_train,y_train)

GaussianNB()

In [18]:
model.score(X_test,y_test)

0.7985074626865671

In [19]:
X_test[0:10]

     Pclass   Age      Fare  female
610       3  39.0   31.2750       1
290       1  26.0   78.8500       1
664       3  20.0    7.9250       0
44        3  19.0    7.8792       1
136       1  19.0   26.2833       1
41        2  27.0   21.0000       1
856       1  45.0  164.8667       1
703       3  25.0    7.7417       0
13        3  39.0   31.2750       0
721       3  17.0    7.0542       0

In [21]:
y_test[0:10]

610    0
290    1
664    1
44     1
136    1
41     0
856    1
703    0
13     0
721    0
Name: Survived, dtype: int64

In [22]:
model.predict(X_test[0:10])

array([1, 1, 0, 1, 1, 1, 1, 0, 0, 0], dtype=int64)

In [23]:
model.predict_proba(X_test[:10])

array([[4.48340645e-01, 5.51659355e-01],
       [3.05355618e-02, 9.69464438e-01],
       [9.49720577e-01, 5.02794232e-02],
       [3.92068006e-01, 6.07931994e-01],
       [1.01391816e-01, 8.98608184e-01],
       [2.67623710e-01, 7.32376290e-01],
       [6.74755564e-05, 9.99932524e-01],
       [9.52732368e-01, 4.72676321e-02],
       [9.59186761e-01, 4.08132391e-02],
       [9.47683907e-01, 5.23160932e-02]])

<b>Calculate the score using cross validation

In [25]:
cross_val_score(GaussianNB(),X_train, y_train, cv=5)

array([0.72      , 0.792     , 0.76      , 0.7983871 , 0.78225806])